<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${pageTitle}]]</title>
    <!-- подключение стилей bootstrap -->
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div class="container-fluid">
    <div class="text-center"><h2>[[${pageTitle}]]</h2></div>
    <form th:action="@{/animals/save}" method="post" th:object="${animalCreateData}"
          style="max-width: 500px; margin: 0 auto;">
        <div class="border border-secondary rounded p-3">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">ID:</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{id}" class="form-control" readonly/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Nickname:</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{nickname}" class="form-control" required
                           minlength="1" maxlength="45"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Type:</label>
                <div class="col-sm-8">
                    <select th:field="*{type}" class="form-control">
                        <option selected value="Кошки">Кошки</option>
                        <option value="Собаки">Собаки</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Breed:</label>
                <div class="col-sm-8">
                    <select th:field="*{breed}" class="form-control">
                        <option value="Породистые">Есть</option>
                        <option selected value="Без породы">Нет</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Age:</label>
                <div class="col-sm-8">
                    <input type="number" th:field="*{age}" class="form-control" required
                           min="1" max="25"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Description:</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{description}" class="form-control" required
                           minlength="1" maxlength="200"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Location:</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{location}" class="form-control" required
                           minlength="1" maxlength="100"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">User ID:</label>
                <div class="col-sm-8">
                    <input type="number" th:field="*{userId}" class="form-control" required
                           min="1"/>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary m-2">Save</button>
                <button type="button" class="btn btn-secondary m-2"
                        onclick="cancelForm()">Exit</button>
            </div>
        </div>
    </form>
    <div th:if="${message}" class="alert alert-success text-center">
        [[${message}]]
    </div>
</div>

<script type="text/javascript">
    function cancelForm() {
        window.location = "[[@{/animals}]]";
    }
</script>
</body>
</html>