<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Manage Animals</title>
  <!-- подключение стилей bootstrap -->
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div class="container-fluid text-center">
  <div><h2>Manage Animals</h2></div>
  <div class="m-2">
    <a class="h3" th:href="@{/animals/new}">Add New Animal</a>
  </div>

  <div th:if="${message}" class="alert alert-success text-center">
    [[${message}]]
  </div>

  <div>
    <table class="table table-bordered">
      <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>Nickname</th>
        <th>Type</th>
        <th>Breed</th>
        <th>Age</th>
        <th>Photo:</th>
        <th>Description</th>
        <th>City</th>
        <th>UserId</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <th:block th:each="animal : ${listAnimals}">
        <tr>
          <td>[[${animal.id}]]</td>
          <td>[[${animal.nickname}]]</td>
          <td>[[${animal.getTypeTitle()}]]</td>
          <td>[[${animal.getTypeBreed()}]]</td>
          <td>[[${animal.age}]]</td>
          <td><img th:src="@{'data:image/jpeg;base64,' + ${animal.photo}}"></td>
          <td>[[${animal.description}]]</td>
          <td>[[${animal.getCityTitle()}]]</td>
          <td>[[${animal.getUserName()}]]</td>
          <td>
            <a class="h4 mr-3" th:href="@{'/animals/edit/' + ${animal.id}}">Edit</a>
            <a class="h4" th:href="@{'/animals/delete/' + ${animal.id}}">Delete</a>
          </td>
        </tr>
      </th:block>
      </tbody>
    </table>
    <div>
      <a class="h3" th:href="@{/index}">Go back</a>
    </div>
  </div>
</div>

<!-- подключение скриптов bootstrap -->
<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>