<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${pageTitle}]]</title>
    <!-- подключение стилей bootstrap -->
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div class="container-fluid">
    <div class="text-center"><h2>[[${pageTitle}]]</h2></div>
    <form th:action="@{/animals/save}" method="post" enctype="multipart/form-data"
          th:object="${animalCreateData}" style="max-width: 500px; margin: 0 auto;">
        <input type="hidden" th:field="*{id}">
        <div class="border border-secondary rounded p-3">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Nickname:</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{nickname}" class="form-control" required
                           minlength="1" maxlength="45"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Gender:</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{gender}" class="form-control" required
                           minlength="1" maxlength="45"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Type:</label>
                <div class="col-sm-8">
                    <select th:field="*{typeId}" class="form-control" >
                        <th:block th:each="type : ${listTypes}">
                            <option th:value="${type.id}">[[${type.title}]], [[${type.breed}]]</option>
                        </th:block>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Age:</label>
                <div class="col-sm-8">
                    <input type="number" th:field="*{age}" class="form-control" required min="1" max="25"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Photo:</label>
                <div class="col-sm-8">
                    <input type="file" accept=".png, .jpg, .jpeg" th:field="*{photo}" class="form-control" name="photo" required/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Description:</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{description}" class="form-control" required
                           minlength="1" maxlength="200"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">City:</label>
                <div class="col-sm-8">
                    <select th:field="*{cityId}" class="form-control" >
                        <th:block th:each="city : ${listCities}">
                        <option th:value="${city.id}">[[${city.title}]]</option>
                        </th:block>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Guardian ID:</label>
                <div class="col-sm-8">
                    <select th:field="*{guardianId}" class="form-control">
                        <th:block th:each="guardian : ${listGuardians}">
                            <option th:value="${guardian.id}">[[${guardian.id}]]</option>
                        </th:block>
                    </select>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary m-2">Save</button>
                <button type="button" class="btn btn-secondary m-2"
                        onclick="cancelForm()">Exit</button>
            </div>
        </div>
    </form>
    <div th:if="${message}" class="alert alert-success text-center">
        [[${message}]]
    </div>
</div>

<script type="text/javascript">
    function cancelForm() {
        window.location = "[[@{/animals}]]";
    }
</script>
</body>
</html>