<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Manage Animals</title>
  <!-- подключение стилей bootstrap -->
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
  <style>
    img {
      width: 200px;
    }
  </style>
</head>
<body>
<div class="container-fluid text-center">
  <div><h2>Manage Animals</h2></div>
  <div class="m-2">
    <a class="h3" th:href="@{/animals/new}">Add New Animal</a>
  </div>
  <div th:if="${message}" class="alert alert-success text-center">
    [[${message}]]
  </div>
  <div>
    <table class="table table-bordered">
      <thead class="thead-dark">
      <tr>
        <th>
          <a th:href="@{'/page/' + ${currentPage} + '/animals' + '?sortField=id&sortDir=' + ${reverseSortDir}}">ID</a>
        </th>
        <th>
          <a th:href="@{'/page/' + ${currentPage} + '/animals' + '?sortField=nickname&sortDir=' + ${reverseSortDir}}">Nickname</a>
        </th>
        <th>
          <a th:href="@{'/page/' + ${currentPage} + '/animals' + '?sortField=type.title&sortDir=' + ${reverseSortDir}}">Type</a>
        </th>
        <th>
          <a th:href="@{'/page/' + ${currentPage} + '/animals' + '?sortField=type.breed&sortDir=' + ${reverseSortDir}}">Breed</a>
        </th>
        <th>
          <a th:href="@{'/page/' + ${currentPage} + '/animals' + '?sortField=gender&sortDir=' + ${reverseSortDir}}">Gender</a>
        </th>
        <th>
          <a th:href="@{'/page/' + ${currentPage} + '/animals' + '?sortField=age&sortDir=' + ${reverseSortDir}}">Age</a>
        </th>
        <th>Photo:</th>
        <th>Description</th>
        <th>
          <a th:href="@{'/page/' + ${currentPage} + '/animals' + '?sortField=city.title&sortDir=' + ${reverseSortDir}}">City</a>
        </th>
        <th>
          <a th:href="@{'/page/' + ${currentPage} + '/animals' + '?sortField=user.lastName&sortDir=' + ${reverseSortDir}}">UserId</a>
        </th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <th:block th:each="animal : ${listAnimals}">
        <tr>
          <td>[[${animal.id}]]</td>
          <td>[[${animal.nickname}]]</td>
          <td>[[${animal.getTypeTitle()}]]</td>
          <td>[[${animal.getTypeBreed()}]]</td>
          <td>[[${animal.gender}]]</td>
          <td>[[${animal.age}]]</td>
          <td><img th:src="@{'data:image/jpeg;base64,' + ${animal.photo}}"></td>
          <td>[[${animal.description}]]</td>
          <td>[[${animal.getCityTitle()}]]</td>
          <td>[[${animal.getGuardianName()}]]</td>
          <td>
            <a class="h4 mr-3" th:href="@{'/animals/edit/' + ${animal.id}}">Edit</a>
            <a class="h4" th:href="@{'/animals/delete/' + ${animal.id}}">Delete</a>
          </td>
        </tr>
      </th:block>
      </tbody>
    </table>
  </div>
  <div th:if = "${totalPages > 1}">
    <div class = "row col-sm-10">
      <div class = "col-sm-2">
        Total Rows: [[${totalItems}]]
      </div>
      <div class = "col-sm-1">
        <span th:each="i: ${#numbers.sequence(1, totalPages)}">
          <a th:if="${currentPage != i}" th:href="@{'/page/' + ${i} + '/animals' + '?sortField=' +
                   ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
          <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
        </span>
      </div>
      <div class = "col-sm-1">
        <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage} + '/animals' + '?sortField=' +
                    ${sortField} + '&sortDir=' + ${sortDir}}">NEXT</a>
        <span th:unless="${currentPage < totalPages}">NEXT</span>
      </div>
      <div class = "col-sm-1">
        <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages} + '/animals' + '?sortField=' +
                    ${sortField} + '&sortDir=' + ${sortDir}}">LAST</a>
        <span th:unless="${currentPage < totalPages}">LAST</span>
      </div>
    </div>
  </div>
  <div>
    <a class="h3" th:href="@{/index}">Go back</a>
  </div>
</div>

<!-- подключение скриптов bootstrap -->
<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
</body>
</html>